/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #f5f0e8;
}

.body{
    background-color: #674f04;
    
}

.footer{
    background-color: #674f04;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #674f04;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #d3bd9a;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #d3bd9a ;
    padding: 1px;
}

.showcase{
    background-color: #a28f70; /*#0096c7*/
}

.nav-link {
    position: relative;
    color: #ffffff; /* Keep text color white */
    text-decoration: none; /* Remove default underline */
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff; /* Underline color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


.shift-right {
    margin-left: 40px; 
}
.custom-hr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.custom-hr {
    flex-grow: 1;
    border: none;
    border-top: 4px solid black; /* Thicker line */
    margin: 0 10px;
}

.diamond {
    width: 20px;
    height: 20px;
    background-color: black;
    transform: rotate(45deg); /* Create diamond shape */
}

.custom-accordion-button {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}