{% extends 'layout.html' %}

{% block title %}Procedure - Research Project{% endblock %}

{% block content %}
    <!-- How to use the sensor -->
    <section class="procedure">
        <div class="container">
            <br>
            <div class="text-center">
                <h1>Procedure</h1>
            </div>

            <div class="custom-hr-container">
                <div class="diamond"></div>
                <hr class="custom-hr">
                <div class="diamond"></div>
            </div>
            
            <table class="table table-hover text-center table-light table-bordered border-dark-subtle rounded custom-table">
                <thead>
                    <tr class="table-primary">
                        <th><h3>Step</h3></th>
                        <th><h3>Description</h3></th>
                        <th><h3>Image</h3></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>1</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample1">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne1">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                            Obtain All Necessary Materials
                                        </button>
                                    </h2>
                                    <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <h3 class="howTo">
                                                <ul class="custom-list">
                                                    <li>30 50mm Petri Dishes</li>
                                                    <li>20 initial planarians</li>
                                                    <li>50 mg EGCG & 5g Piperine from MedChemExpress</li>
                                                    <li>Spoon</li>
                                                    <li>Magnetic Orbital Shaker</li>
                                                    <li>Precision Scale</li>
                                                    <li>Micropipette</li>
                                                    <li>0.5 Gallon Container</li>
                                                    <li>Beef Liver</li>
                                                    <li>Scalpel</li>
                                                    <li>Dissecting Light Microscope</li>
                                                    <li>1 Gallon Poland Spring Water</li>
                                                    <li>Phone to take Pictures</li>
                                                    <li>ImageJ software</li>
                                                    <li>Measuring Trays</li>
                                                </ul>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <img src="{{ url_for('static', filename='img/materials.png') }}" alt="Materials Image" class="custom-small-image">
                        </td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>2</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne2">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                            Increase Planaria Stock Size 
                                        </button>
                                    </h2>
                                    <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <h3 class="howTo">
                                                <img src="{{ url_for('static', filename='img/planaria-stock-diagram.png') }}" alt="Planaria Stock Diagram" class="custom-image">
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/procedure-planaria.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>3</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne3">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                            Cut Planaria and Label Petri Dishes
                                        </button>
                                    </h2>
                                    <div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne3" data-bs-parent="#accordionExample3">
                                        <div class="accordion-body">
                                            <img src="{{ url_for('static', filename='img/cutting-diagram.png') }}" alt="Planaria Stock Diagram" class="custom-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/scalpel.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>4</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample4">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne4">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                            Prepare EGCG & Piperine Solutions Using Serial Dilution
                                        </button>
                                    </h2>
                                    <div id="collapseOne4" class="accordion-collapse collapse" aria-labelledby="headingOne4" data-bs-parent="#accordionExample4">
                                        <div class="accordion-body">
                                            <img src="{{ url_for('static', filename='img/solution-prep.png') }}" alt="Planaria Stock Diagram" class="custom-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/pipette.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>5</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample5">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne5">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5">
                                            Organize all Petri Dishes and Start Trials
                                        </button>
                                    </h2>
                                    <div id="collapseOne5" class="accordion-collapse collapse" aria-labelledby="headingOne5" data-bs-parent="#accordionExample5">
                                        <div class="accordion-body">
                                            <img src="{{ url_for('static', filename='img/experimental-setup.png') }}" alt="Planaria Stock Diagram" class="custom-image">
                                            <p class="howTo" style="padding-top: 25px;">Follow the same organization for Piperine and combined treatment of Piperine and EGCG.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/petri-dish.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>6</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample6">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne6">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="false" aria-controls="collapseOne6">
                                            Take a Picture of Planaria Segments
                                        </button>
                                    </h2>
                                    <div id="collapseOne6" class="accordion-collapse collapse" aria-labelledby="headingOne6" data-bs-parent="#accordionExample6">
                                        <div class="accordion-body">
                                            <img src="{{ url_for('static', filename='img/planaria-micro.png') }}" alt="Planaria Stock Diagram" class="custom-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/camera.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr class="align-middle">
                        <th scope="row" class="table-secondary">
                            <h3>7</h3>
                        </th>
                        <td>
                            <div class="accordion w-100" id="accordionExample7">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne7">
                                        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne7" aria-expanded="false" aria-controls="collapseOne7">
                                            Analyze Images on ImageJ and Record Data
                                        </button>
                                    </h2>
                                    <div id="collapseOne7" class="accordion-collapse collapse" aria-labelledby="headingOne7" data-bs-parent="#accordionExample7">
                                        <div class="accordion-body">
                                            <h3 class="howTo">
                                                <ol class="custom-list">
                                                    <li>Upload images to ImageJ</li>
                                                    <li>Measure circumference, area, and diameter of planarian segments</li>
                                                    <li>Record data on Google Sheets</li>
                                                </ol>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/imagej-logo.png') }}" alt="Python Logo" class="custom-small-image"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
